body {
    font-family: 'Gamja Flower', cursive;
}
p, li, h1 { /* Selector de elemento */
    color: blue;
    font-family: 'Gamja Flower', cursive;
    width: 500px;
    border: 1px solid black;
}
#niveles { /* Selector de identidad */
    background-color: yellow;
    font-family: 'Gamja Flower', cursive;
    padding: 10px 60px ;
    border: 10px dashed blue;
    margin: 0 auto;
}
.diferente{ /* selector de clase */
    color: red;
    border: 2px solid blue;
}
#niveles:hover {
    color: purple;
    background-color: black;
}