.calculadora{
    display: block;
    margin: 0 auto;
    padding: 20px;
    background-color:greenyellow;
    height: 500px;
    width: 300px;
    border-radius: 25px; 
}
.calculadora td button {
    font-size: 25px;
    width: 70px;
    height: 70px;
    display: block;
}
#resultado {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: aliceblue;
    border-radius: 20px;
    overflow-y: scroll;
    display: block;
}
button {
    cursor: pointer;
}
body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
}